.achievements-list {
    @include grid(4, vw(47), vw(45));
    @include padding-y(vw(50));

    @media(max-width: 1024px) {
        @include padding-y(5rem);
        gap: 4.5rem;
    }

    @media(max-width: 500px) {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}

.achievement-card {
    $this: &;

    @extend %card;
    padding: vw(27);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media(max-width: 1024px) {
        padding: 2.7rem;
    }

    &__img {
        margin-bottom: vw(18);
        @include round(vw(128));
        border: 2px solid #E2E6F4;
        box-shadow: $bsh-card;

        @media(max-width: 1024px) {
            margin-bottom: 1.8rem;
            width: 12.8rem;
            height: 12.8rem;
            border-width: 0.2rem;
        }
    }

    &__content {
        @include row-grid(vw(5));

        @media(max-width: 1024px) {
            row-gap: 0.5rem;
        }
    }

    &__title {
        font-weight: 700;
    }

    &__descr {
        @extend %text-12;
        color: #C5CFE4;
    }

    &--style {
        &_row {
            padding: 0;
            flex-direction: row;
            background-color: transparent;
            box-shadow: none;
            border-radius: 0;
            text-align: left;

            #{$this} {
                &__img {
                    flex-shrink: 0;
                    margin-bottom: 0;
                    margin-right: vw(13);
                    width: vw(45);
                    height: vw(45);

                    @media(max-width: 1024px) {
                        margin-right: 1.3rem;
                        width: 4.5rem;
                        height: 4.5rem;
                    }
                }
            }
        }
    }
}