.burger-menu {
    display: none;

    @media (max-width: 1024px) {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 101;
        height: 100%;
        background-color: #fff;
        transition: $transition left;
        overflow: auto;
    }

    &.active {
        @media (max-width: 1024px) {
            left: 0;
        }
    }
}