.burger-menu {
    display: none;

    @media (max-width: 1024px) {
        display: block;
        position: fixed;
        top: -150%;
        left: 0;
        z-index: 101;
        width: 100%;
        height: 100%;
        padding: 6.8rem 4.7rem;
        background-color: rgba(#000, 0.9);
        transition: $transition top;
        overflow-y: auto;
    }

    &.active {
        @media (max-width: 1024px) {
            top: 0;
        }
    }

    &__close {
        top: 5.8rem;
        right: 4rem;
    }

    &__nav {
        margin-bottom: 4.5rem;
    }
}