.case-card {
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: $brs-card;

    &__img {
        position: absolute;
        left: vw(-46);
        top: vw(21);
        width: vw(240);
        height: vw(186);
        border-radius: $brs-card;

        @media(max-width: 1024px) {
            left: -5.5rem;
            top: 2.1rem;
            width: 20rem;
            height: 14.6rem;
        }
    }

    &__content {
        padding: vw(26) vw(25) vw(35) vw(10);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #fff;

        @media(max-width: 1024px) {
            padding: 2.5rem 1.5rem;
        }
    }

    &__badge {
        position: relative;
        align-self: flex-end;
        padding: vw(10.5) vw(27) vw(10.5) vw(24);
        background: var(--purple-gradient);
        border-radius: $brs-btn 0 25px $brs-btn;

        @media(max-width: 1024px) {
            padding: 1.05rem 2.7rem 1.05rem 2.4rem;
        }

        &--green {
            background: var(--green-gradient);
        }
    }

    &__badge-value {
        @extend %text-16;
        font-weight: 700;
    }

    &__badge-dot {
        position: absolute;
        top: vw(8);
        right: vw(10);
        @include round(vw(5));

        @media(max-width: 1024px) {
            top: 0.8rem;
            right: 1rem;
            width: 0.5rem;
            height: 0.5rem;
        }
    }

    &__badge-discount {
        position: absolute;
        top: vw(-7);
        left: vw(-14);
        padding: vw(1) vw(4);
        background: rgba(#EB5757, .68);
        border-radius: $brs-btn;
        font-weight: 700;

        @media(max-width: 1024px) {
            top: -0.7rem;
            left: -1.4rem;
            padding: 0.1rem 0.4rem;
        }
    }

    &__badge-label {
        @extend %text-11;
        position: absolute;
        bottom: vw(-13);
        left: 50%;
        transform: translateX(-50%);
        padding: vw(3.5) vw(7);
        background: var(--green-gradient);
        border-radius: $brs-btn;
        font-weight: 700;
        white-space: nowrap;

        @media(max-width: 1024px) {
            bottom: -1.3rem;
            padding: 0.35rem 0.7rem;
        }
    }

    &__suptitle {
        @extend %text-16;
        font-family: $ff-acrom, sans-serif;
        font-weight: 700;
    }

    &__title {
        margin-bottom: vw(20);
        font-size: vw(45);
        line-height: calc(53 / 45 * 100%);
        letter-spacing: 0.15em;
        font-weight: 700;
        text-transform: uppercase;
        font-style: italic;
        @include border-text(#fff, transparent);

        @media(max-width: 1024px) {
            font-size: 4.5rem;
            margin-bottom: 2rem;
        }

        @media(max-width: 767px) {
            font-size: 3.2rem;
        }
    }

    &__btn {
        padding: vw(16.5) vw(27.5);
        font-weight: 700;
        text-transform: uppercase;

        @media(max-width: 1024px) {
            padding: 1.65rem 2.75rem;
        }

        @media(max-width: 767px) {
            padding: 1.5rem;
        }
    }
}

.small-case {
    @include row-grid(vw(4));
    justify-items: center;
    font-family: $ff-acrom;
    font-weight: 700;

    &__img {
        margin-bottom: vw(4);
        width: vw(70);
        height: vw(54);

        @media(max-width: 1024px) {
            margin-bottom: 0.4rem;
            width: 7rem;
            height: 5.4rem;
        }
    }

    &__title {
        @extend %text-12;
    }

    &__price {
        @extend %text-12;
        color: #CED0E4;
    }
}