.cases {
    @include padding-y(vw(65));

    &__title {
        margin-bottom: vw(63);
    }

    &__list {
        @media(min-width: 1025px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: vw(30);
        }

        @media(max-width: 1024px) {
            display: flex;
            gap: 3.5rem;
            overflow-x: auto;

            >* {
                flex-shrink: 0;
                min-width: 40rem;
            }
        }

        &::-webkit-scrollbar {
            width: 0;
            -webkit-appearance: none;
        }
    }
}