.cases {
    @include padding-y(vw(65));

    @media(max-width: 1024px) {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    &__title {
        margin-bottom: vw(63);

        @media(max-width: 1024px) {
            margin-bottom: 3rem;
        }
    }

    &__list {
        @media(min-width: 1025px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: vw(30);
        }

        @media(max-width: 1024px) {
            margin-right: -3rem;
            display: flex;
            gap: 3.5rem;
            overflow-x: auto;

            >* {
                flex-shrink: 0;
                min-width: 30rem;
            }
        }

        &::-webkit-scrollbar {
            width: 0;
            -webkit-appearance: none;
        }
    }
}