.support-block {
    padding-top: vw(46);
    display: grid;
    gap: vw(38);
    align-items: flex-start;

    @media(max-width: 1024px) {
        padding-top: 4.5rem;
        gap: 3.5rem;
    }

    @media(min-width: 1025px) {
        grid-template-columns: vw(460) 1fr;
    }
}

.contact-info {
    padding: vw(42);
    border-radius: $brs-3;
    background-color: #fff;
    box-shadow: $bsh-card;
    font-family: $ff-acrom;
    font-weight: 700;

    @media(max-width: 1024px) {
        padding: 4.3rem;
    }

    @media(max-width: 767px) {
        padding: 3rem;
    }

    &__title {
        @extend %text-18;
        margin-bottom: vw(30);

        @media(max-width: 1024px) {
            margin-bottom: 3rem;
        }
    }

    &__list {
        @include row-grid(vw(25));

        @media(max-width: 1024px) {
            row-gap: 2.5rem;
        }
    }
}

.contact-info-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr repeat(2, auto) 1fr;
    grid-template-areas:
        'icon .'
        'icon property'
        'icon value'
        'icon .'
    ;
    gap: vw(1) vw(13);

    @media(max-width: 1024px) {
        gap: 0.1rem 1.3rem;
    }

    &__icon {
        grid-area: icon;
        width: vw(50);
        height: vw(50);

        @media(max-width: 1024px) {
            width: 5rem;
            height: 5rem;
        }

        img {
            width: vw(19);
            height: vw(19);

            @media(max-width: 1024px) {
                width: 1.9rem;
                height: 1.9rem;
            }
        }
    }

    &__property {
        @extend %text-12;
        grid-area: property;
        text-transform: uppercase;
        color: var(--gray-be);
    }

    &__value {
        @extend %text-16;
        grid-area: value;
    }
}