.dropdown-menu {
    position: absolute;
    top: vw(95);
    right: 0;
    z-index: 30;
    padding-top: vw(13);
    padding-bottom: vw(24);
    background-color: #fff;
    width: vw(240);
    display: flex;
    flex-direction: column;
    border-radius: $brs-card;
    @include hide();
    background-size: 0;

    @media(min-width: 1025px) {
        box-shadow: $bsh-card;
    }

    @media(max-width: 1024px) {
        position: fixed;
        top: 2.7rem;
        left: 2rem;
        width: calc(100vw - 4rem);
        height: calc(100% - 2.7rem);
        padding: 0 0 5rem;
        border-radius: 1.5rem;
    }

    &.active {
        @media(max-width: 1024px) {
            @include show();
        }
    }

    @media(max-width: 500px) {
        padding-bottom: 13.5rem;
        background-color: #F3F7FF;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &::before {
        content: '';
        position: absolute;
        top: vw(-13);
        right: vw(5);
        width: vw(39);
        height: vw(39);
        clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
        background-color: #fff;
        z-index: -1;

        @media(max-width: 1024px) {
            top: -1.3rem;
            right: 40%;
            width: 3.9rem;
            height: 3.9rem;
        }
    }

    .user-select {
        display: none;

        @media(max-width: 1024px) {
            display: flex;
        }
    }

    &__top {
        display: none;

        @media(max-width: 1024px) {
            margin-bottom: 1.7rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2.8rem 2.5rem 2rem 2.9rem;
            border-bottom: 0.1rem solid #F0F3FA;
        }
    }

    &__top-close {
        padding: 0.4rem;

        img {
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    &__close {
        display: none;
        @include round(8.5rem);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;

        @media(max-width: 500px) {
            display: block;
        }
    }

    &__user {
        @include margin-x(1.5rem);
        margin-bottom: 1.25rem;
    }

    &__title {
        @extend %text-16;
        font-family: $ff-acrom;
        font-weight: 700;
    }

    &__link {
        padding: vw(12.5) vw(29);
        display: flex;
        align-items: center;
        color: var(--gray-be);
        transition: $transition background-color,
            $transition color;

        @media(max-width: 1024px) {
            padding: 1.3rem 3.7rem;
        }

        svg {
            flex-shrink: 0;
            margin-right: vw(11);
            fill: var(--gray-cd);
            transition: $transition fill;

            @media(max-width: 1024px) {
                margin-right: 1.1rem;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: var(--light-blue);
                color: var(--dark-3);

                svg {
                    fill: #1E61EB;
                }
            }
        }
    }
}

#dropdown-menu {
    &::before {
        @media(max-width: 1024px) {
            display: none;
        }
    }
}

.notifications-dropdown {
    width: vw(324);
    padding: vw(26) vw(12) vw(22) vw(20);

    @media(max-width: 1024px) {
        position: absolute;
        top: 9.5rem;
        right: -12.5rem;
        left: auto;
        width: 32.4rem;
        height: auto;
        padding: 2.6rem 1.2rem 2.2rem 2rem;
    }

    @media(max-width: 500px) {
        position: fixed;
        top: 11.75rem;
        left: 2rem;
        right: auto;
        background-color: #fff;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: vw(27);
        padding-left: vw(3);
        padding-right: vw(15);
        font-family: $ff-acrom, sans-serif;
        font-weight: 700;

        @media(max-width: 1024px) {
            margin-bottom: 2.7rem;
            padding-left: 0.3rem;
            padding-right: 1.5rem;
        }
    }

    &__title {
        span {
            padding-left: vw(3);
            color: var(--green-2);

            @media(max-width: 1024px) {
                padding-left: 0.3rem;
            }
        }
    }

    &__total {
        color: var(--gray-c8);
    }

    &__list {
        margin-bottom: vw(27);
        padding-right: vw(9);
        max-height: vw(250);
        @include row-grid(vw(15));
        @include scrollbar();

        @media(max-width: 1024px) {
            margin-bottom: 2.7rem;
            padding-right: 0.9rem;
            max-height: 25rem;
            row-gap: 1.5rem;
        }
    }

    &__link {
        align-self: center;
    }
}