.header {
    $this: &;

    background-size: 0 0;

    @media(max-width: 1024px) {
        height: 15rem;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: 1024px) {
            padding-left: 3rem;
            padding-right: 4rem;
        }
    }

    &__logo {
        display: none;

        @media(max-width: 1024px) {
            display: block;
        }
    }

    &__logo-img {
        width: 14.6rem;
        height: 7.1rem;
    }

    &__menu {
        @media(max-width: 1024px) {
            display: none;
        }
    }

    &__actions {
        display: flex;
        gap: vw(23);

        @media(max-width: 1024px) {
            gap: 1rem;
            margin-left: auto;
            margin-right: 1.4rem;
        }

        @media(min-width: 1025px) {
            height: vw(65);
        }
    }

    &__action {
        position: relative;
        display: flex;
        align-items: center;

        .user-select {
            @media(max-width: 1024px) {
                display: none;
            }
        }

        &.touch-visible {
            display: none;

            @media(max-width: 1024px) {
                display: grid;
            }
        }
    }
}