.notification {
    display: grid;
    grid-template-columns: vw(45) 1fr auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        'icon title time'
        'icon text text'
    ;
    gap: vw(8) vw(9);
    font-family: $ff-acrom, sans-serif;

    @media(max-width: 1024px) {
        grid-template-columns: 4.5rem 1fr auto;
        gap: 0.8rem 0.9rem;
    }

    &__icon {
        grid-area: icon;
        width: vw(45);
        height: vw(45);

        @media(max-width: 1024px) {
            width: 4.5rem;
            height: 4.5rem;
        }
    }

    &__title {
        grid-area: title;
        font-weight: 700;
    }

    &__title,
    &__time {
        @extend %text-12;
    }

    &__time {
        grid-area: time;
        color: var(--gray-c5);
    }

    &__text {
        @extend %text-10;
        grid-area: text;
        color: var(--gray-a6);
    }
}