.promo {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 201;
    background-color: var(--dark);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media(max-width: 1024px) {
        overflow-y: auto;
    }

    &__container {
        width: 1680px;
        padding: 0 15px;
        margin: 0 auto;
        max-width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;

        @media(max-width: 1024px) {
            @include padding-x(3rem);
            min-height: 100vh;
            height: auto;
        }

        @media(max-width: 767px) {
            @include padding-x(1.5rem);
        }
    }

    &__body {
        flex-grow: 1;
        display: flex;

        @media(min-width: 1025px) {
            padding-left: 208px - 145px - 30px;
            align-items: center;
            justify-content: space-between;
        }

        @media(max-width: 1024px) {
            flex-direction: column;
            gap: 3rem;
        }
    }

    &__content {
        @include row-grid(22px);
        justify-items: start;
        color: #fff;
        background-size: 0;

        @media(max-width: 1024px) {
            gap: 2rem;
        }

        @media(min-width: 1025px) {
            padding-top: 30px;
            padding-left: 30px;
            max-width: 628px;
            background-size: contain;
            background-position: 0 0;
            background-repeat: no-repeat;
        }
    }

    &__title {
        position: relative;
        padding-bottom: 34px;
        font-family: $ff-acrom;
        font-weight: 700;
        font-size: 42px;
        line-height: calc(50 / 42 * 100%);

        @media(max-width: 1024px) {
            padding-bottom: 2rem;
            font-size: 3.2rem;
        }

        @media(max-width: 500px) {
            font-size: 1.8rem;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 65px;
            height: 4px;
            background: var(--green-gradient);

            @media(max-width: 1024px) {
                width: 6.5rem;
                height: 0.4rem;
            }
        }
    }

    &__text {
        @extend %text-18;
        font-family: $ff-acrom;
        max-width: 562px;

        @media(max-width: 767px) {
            font-size: 1.4rem;
        }

        &:not(:last-child) {
            margin-bottom: 14px;

            @media(max-width: 1024px) {
                margin-bottom: 1.4rem;
            }
        }
    }

    &__btn {
        padding: 23.5px 56px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.promo-header {
    @include padding-y(59px);

    @media(max-width: 1024px) {
        @include padding-y(3rem);
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo-img {
        @media(max-width: 500px) {
            width: 15rem;
        }
    }

    &__actions {
        display: flex;
        gap: 17px;

        @media(max-width: 1024px) {
            gap: 1.5rem;
        }
    }

    &__action-btn {
        width: 55px;
        height: 55px;

        @media(max-width: 1024px) {
            width: 5.5rem;
            height: 5.5rem;
        }

        @media(max-width: 767px) {
            display: none;
        }
    }

    &__btn {
        @include padding-x(54px);
        font-size: 14px;
        line-height: calc(17 / 14 * 100%);
        font-weight: 700;
        text-transform: uppercase;

        @media(min-width: 1025px) {
            height: 55px;
        }

        @media(max-width: 1024px) {
            padding: 1.5rem 3rem;
            font-size: 1.4rem;
        }

        @media(max-width: 500px) {
            padding: 1.25rem 2.5rem;
            font-size: 1.2rem;
        }
    }

    &__menu {
        @media(max-width: 1024px) {
            display: none;
        }
    }

    .menu__link {
        color: rgba(#fff, 0.35);

        @media(min-width: 1025px) {
            padding-bottom: 9px;
            font-size: 14px;
            line-height: 17px;
        }

        @media (any-hover: hover) {
            &:hover {
                color: #fff;
            }
        }

        &:after {
            @media(min-width: 1025px) {
                height: 3px;
            }
        }

        &.active {
            color: #fff;
        }
    }
}

.aside-promo {
    @media(min-width: 1025px) {
        display: flex;
        gap: 42px;
    }

    &__title {
        display: none;

        @media(min-width: 1025px) {
            position: relative;
            padding-top: 160px;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.15em;
            color: #fff;
            writing-mode: vertical-lr;
            text-transform: uppercase;

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%) rotate(-90deg);
                width: 140px;
                height: 2px;
                background: var(--green-gradient);
            }
        }
    }
}

.promo-benefits {
    @include row-grid(35px);

    @media(max-width: 1024px) {
        gap: 3rem;
    }

    @media(min-width: 1025px) {
        width: 470px;
    }
}

.benefit-card {
    @extend %card;
    background-color: var(--dark-3);
    padding: 26px 20px 32px;
    display: flex;
    align-items: center;

    @media(max-width: 1024px) {
        padding: 1.5rem;
    }

    &__stars {
        display: grid;
        place-items: center;
        width: 75px;
        height: 72px;
        flex-shrink: 0;
        margin-right: 15px;

        @media(max-width: 1024px) {
            width: 5rem;
            height: 5rem;
            margin-right: 1.5rem;
        }
    }

    &__star,
    &__inner-star {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    &__title {
        position: relative;
        padding-bottom: 11px;
        margin-bottom: 2px;
        font-family: $ff-acrom;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #fff;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 25px;
            height: 3px;
            background: var(--green-gradient);
        }
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #7A8297;
    }
}