.profile {
    padding-top: vw(50);
    display: grid;
    gap: vw(35) vw(38);

    @media(min-width: 1025px) {
        grid-template-columns: vw(300) 1fr;
    }

    @media(max-width: 1024px) {
        padding-top: 5rem;
        gap: 3.5rem;
    }

    &__cards {
        @include row-grid(vw(25));
        align-content: start;

        @media(max-width: 1024px) {
            row-gap: 2.5rem;
        }
    }
}

.profile-card {
    @extend %card;
    padding: 0 vw(30) vw(30);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(max-width: 1024px) {
        padding: 0 3rem 3rem;
    }

    &__avatar {
        position: relative;
        margin-top: vw(-37);
        margin-bottom: vw(16);
        @include round(vw(200));

        @media(max-width: 1024px) {
            margin-top: -3.7rem;
            margin-bottom: 1.6rem;
            width: 20rem;
            height: 20rem;
        }

        img {
            @extend %cover;
            border-radius: 50%;
        }
    }

    &__icon {
        position: absolute;
        right: vw(21);
        bottom: vw(-1);
        @include round(vw(50));

        @media(max-width: 1024px) {
            right: 2.1rem;
            bottom: -0.1rem;
            width: 5rem;
            height: 5rem;
        }

        svg {
            width: vw(21);
            height: vw(12);

            @media(max-width: 1024px) {
                width: 2.1rem;
                height: 1.2rem;
            }
        }
    }

    &__name {
        @extend %text-18;
        margin-bottom: vw(12);
        font-family: $ff-acrom;
        font-weight: 700;

        @media(max-width: 1024px) {
            margin-bottom: 1.2rem;
        }
    }

    &__status {
        @extend %text-12;
        position: relative;
        padding-left: vw(25);
        margin-bottom: vw(17);
        font-family: $ff-acrom;
        color: #C5CFE4;

        @media(max-width: 1024px) {
            padding-left: 2.5rem;
            margin-bottom: 1.7rem;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        &::before {
            left: 0;
            @include round(vw(20));
            background-color: rgba(#8CD23C, 0.45);

            @media(max-width: 1024px) {
                width: 2rem;
                height: 2rem;
            }
        }

        &::after {
            left: vw(5);
            @include round(vw(10));
            background-color: var(--green);

            @media(max-width: 1024px) {
                left: 0.5rem;
                width: 1rem;
                height: 1rem;
            }
        }
    }
}

.profile-info {
    @extend %card;
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: $ff-acrom;
    font-weight: 700;

    &__body {
        padding: vw(34) vw(46) vw(34) vw(40);
        display: grid;
        align-content: start;
        border-bottom: 1px solid #E2E9F7;

        @media(max-width: 1024px) {
            padding: 3.4rem 4.6rem 3.4rem 4rem;
            gap: 3rem;
        }

        @media(max-width: 767px) {
            padding: 3rem 2rem;
        }

        @media(min-width: 1025px) {
            grid-template-columns: 1fr vw(310);
        }
    }

    &__tabs {
        justify-content: center;
        gap: vw(40);

        @media(max-width: 1024px) {
            gap: 4rem;
        }

        @media(max-width: 767px) {
            display: none;
        }

        .tab {
            @include padding-x(0);
        }
    }
}

.profile-info-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: vw(20);

    @media(max-width: 1024px) {
        gap: 2rem;
    }

    @media(max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
    }

    &__item {
        @include row-grid(vw(7));

        @media(max-width: 1024px) {
            row-gap: 0.7rem;
        }

        &:last-child {
            grid-column: span 2;
        }

        dt {
            color: #C1CCE0;
        }
    }
}

.profile-rating {
    &__title {
        @extend %text-12;
        color: #B4C1DC;
        text-transform: uppercase;
    }

    &__inner {
        display: grid;
        grid-template-columns: auto vw(70) 1fr;
        grid-template-areas:
            '. . overall'
            'total rates rates'
        ;
        gap: 0 vw(5);

        @media(max-width: 1024px) {
            grid-template-columns: auto 7rem 1fr;
        }
    }

    &__overall {
        @extend %text-11;
        grid-area: overall;
    }

    &__total {
        grid-area: total;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;

        b {
            font-size: vw(40);
            line-height: calc(48 / 40 * 100%);
            text-transform: uppercase;

            @media(max-width: 1024px) {
                font-size: 4rem;
            }
        }
    }

    &__stars {
        display: flex;
        justify-content: flex-end;
        gap: vw(5);

        @media(max-width: 1024px) {
            gap: 0.5rem;
        }

        svg {
            width: vw(10);
            height: vw(10);

            @media(max-width: 1024px) {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    &__progress {
        grid-area: rates;
        display: flex;
        flex-direction: column-reverse;
        gap: vw(2);

        @media(max-width: 1024px) {
            gap: 0.2rem;
        }
    }

    &__progress-item {
        display: grid;
        grid-template-columns: vw(70) 1fr;
        gap: vw(5);
        align-items: center;

        @media(max-width: 1024px) {
            grid-template-columns: 7rem 1fr;
            gap: 0.5rem;
        }
    }

    &__progress-bar {
        position: relative;
        display: block;
        width: 100%;
        height: vw(2);
        border-radius: $brs-btn;
        background-color: #D9DFF3;

        @media(max-width: 1024px) {
            height: 0.2rem;
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: var(--purple-gradient);
        }
    }
}

.profile-reviews {
    @include row-grid(vw(20));

    @media(max-width: 1024px) {
        row-gap: 2rem;
    }
}

.profile-card-section {
    @extend %card;
    padding: vw(29);
    font-family: $ff-acrom;

    @media(max-width: 1024px) {
        padding: 2.9rem;
    }

    &__top {
        margin-bottom: vw(18);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @media(max-width: 1024px) {
            margin-bottom: 1.8rem;
        }
    }

    &__title {
        font-family: $ff-acrom;
        font-weight: 700;
    }

    &__items {
        @include row-grid(vw(12));

        @media(max-width: 1024px) {
            row-gap: 1.2rem;
        }
    }
}