.review {
    display: grid;
    grid-template-columns: vw(356) vw(44) vw(82) 1fr;
    grid-template-areas:
        'info . content content'
        '. . . answer'
    ;
    gap: vw(24) 0;

    @media(max-width: 1024px) {
        grid-template-areas:
            'info info'
            'content content'
            '. answer'
        ;
        grid-template-columns: 8.2rem 1fr;
        gap: 0;
    }

    @media(max-width: 767px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            'info'
            'content'
            'answer'
        ;
    }
}

.reviews-more {
    align-self: center;
    padding: vw(20.5) vw(34);
    background: #E3E9F5;
    color: #B9C3D6;

    @media(max-width: 1024px) {
        padding: 2.05rem 3.4rem;
    }

    svg {
        margin-left: vw(15);
        fill: #B9C3D6;

        @media(max-width: 1024px) {
            margin-left: 1.5rem;
        }
    }
}

.leave-review {
    padding-top: vw(43);
    padding-bottom: vw(30);

    @media(max-width: 1024px) {
        padding-top: 4.3rem;
        padding-bottom: 3rem;
    }

    .back-button {
        display: none;
    }

    &__form {
        margin: vw(30) auto 0;

        @media(max-width: 1024px) {
            margin-top: 3rem;
        }

        @media(min-width: 1025px) {
            width: vw(700);
        }
    }
}

.review-success {
    margin-top: vw(20);
    font-family: $ff-acrom;
    color: #B3BDD2;

    @media(max-width: 1024px) {
        margin-top: 2rem;
    }
}

.review-card {
    @extend %card;
    position: relative;
    grid-area: info;
    padding: vw(23) vw(21);
    display: flex;
    align-items: center;
    gap: vw(23);

    @media(max-width: 1024px) {
        padding: 2.3rem 2.1rem;
        gap: 2.3rem;
    }

    &__avatar {
        flex-shrink: 0;
        margin-right: vw(10);
        @include round(vw(45));

        @media(max-width: 1024px) {
            margin-right: 1rem;
            width: 4.5rem;
            height: 4.5rem;
        }
    }

    &__info {
        display: flex;
        align-items: flex-start;
        font-family: $ff-acrom;
    }

    &__case {
        padding-left: vw(25);
        border-left: 1px solid rgba(226, 227, 243, 0.65);

        @media(max-width: 1024px) {
            padding-left: 2.5rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__name {
        @extend %text-16;
        font-weight: 700;
        margin-bottom: vw(10);

        @media(max-width: 1024px) {
            margin-bottom: 1rem;
        }
    }

    &__datetime {
        @extend %text-11;
        color: #B4BAD2;

        &:not(:last-child) {
            margin-bottom: vw(17);

            @media(max-width: 1024px) {
                margin-bottom: 1.7rem;
            }
        }
    }
}

.reviews-block {
    @include row-grid(vw(25));
    padding-top: vw(50);
    padding-bottom: vw(38);

    @media(max-width: 1024px) {
        row-gap: 2.5rem;
        padding-top: 5rem;
        padding-bottom: 3.8rem;
    }

    .review {
        @media(min-width: 768px) {
            grid-template-columns: 28rem 1fr;
            grid-template-areas: 'info content'
            ;
            gap: 3rem;
        }

        @media(min-width: 1025px) {
            grid-template-columns: vw(280) 1fr;
            gap: vw(38);
        }
    }

    .review-card {
        &__info {
            align-items: center;
        }

        &__avatar {
            margin-right: vw(15);
            width: vw(80);
            height: vw(80);

            @media(max-width: 1024px) {
                margin-right: 1.5rem;
                width: 8rem;
                height: 8rem;
            }
        }

        &__name {
            margin-bottom: vw(6);
            font-size: vw(18);
            line-height: calc(22 / 18 * 100%);

            @media(max-width: 1024px) {
                margin-bottom: 0.6rem;
                font-size: 1.8rem;
            }
        }

        &__info {
            @extend %text-11;
        }
    }
}

.rating {
    display: flex;
    gap: vw(5);

    @media(max-width: 1024px) {
        gap: 0.5rem;
    }

    &-star {
        width: vw(20);
        height: vw(20);
        fill: #DDE6F8;

        @media(max-width: 1024px) {
            width: 2rem;
            height: 2rem;
        }

        &.filled {
            fill: #FFBF53;
        }
    }
}

.review-content {
    @extend %card;
    @include row-grid(vw(12));
    align-items: center;
    grid-area: content;
    padding: vw(27) vw(30) vw(27) vw(37);
    font-family: $ff-acrom;

    @media(max-width: 1024px) {
        border-radius: 0 0 0.8rem 0.8rem;
        box-shadow: none;
        padding: 2.7rem 3rem 2.7rem 3.8rem;
        row-gap: 1.2rem;
    }

    @media(max-width: 767px) {
        padding-left: 3rem;
    }

    &__text {
        color: #A2AEC8;
    }

    &__btns {
        padding-left: vw(45);
        display: flex;
        justify-content: space-between;

        @media(max-width: 1024px) {
            padding-left: 4.5rem;
        }

        svg {
            width: vw(15);
            height: vw(15);
            fill: #C5CFE4;

            @media(max-width: 1024px) {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }

    >p {
        padding-left: vw(39);
        height: 100%;
        display: flex;
        align-items: center;
        font-size: vw(24);
        color: #A2AEC8;

        @media(max-width: 1024px) {
            padding-left: 3.9rem;
            font-size: 2.4rem;
        }
    }
}

.review-answer {
    @extend %card;
    position: relative;
    grid-area: answer;
    padding: vw(20) vw(25) vw(25) vw(16);
    font-family: $ff-acrom;
    grid-template-columns: auto 1fr auto vw(20);
    grid-template-areas:
        'avatar name datetime remove'
        'avatar text text edit'
    ;
    gap: vw(4) vw(8);
    display: none;

    &.active {
        display: grid;
    }

    &::before {
        content: '';
        position: absolute;
        top: vw(-13);
        left: vw(12);
        width: vw(28);
        height: vw(28);
        background-color: #fff;
        clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    }

    @media(max-width: 1024px) {
        padding: 2rem 2.5rem 2rem 1.6rem;
        grid-template-columns: auto 1fr auto 2rem;
        gap: 0.4rem 0.8rem;
    }

    &__avatar {
        margin-right: vw(5);
        grid-area: avatar;
        @include round(vw(45));

        @media(max-width: 1024px) {
            margin-right: 0.5rem;
            width: 4.5rem;
            height: 4.5rem;
        }
    }

    &__name {
        @extend %text-12;
        grid-area: name;
        font-weight: 700;
    }

    &__text {
        @extend %text-10;
        color: #A2AEC8;
        grid-area: text;
        max-height: vw(24);
        overflow: hidden;
        text-overflow: ellipsis;

        @media(max-width: 1024px) {
            max-height: 2.4rem;
        }
    }

    &__datetime {
        @extend %text-10;
        color: #C9D0DF;
        align-self: center;
    }

    &__action {
        svg {
            width: vw(12);
            height: vw(13);
            fill: #C5CFE4;
            transition: $transition fill;

            @media(max-width: 1024px) {
                width: 1.2rem;
                height: 1.3rem;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                svg {
                    fill: var(--dark);
                }
            }
        }

        &--remove {
            grid-area: remove;
        }

        &--edit {
            grid-area: edit;
            align-self: flex-end;
        }
    }
}