.review {
    display: grid;
    grid-template-columns: vw(356) vw(44) vw(82) 1fr;
    grid-template-areas:
        'info . content content'
        '. . . answer'
    ;
    gap: vw(24) 0;
}

.reviews-more {
    align-self: center;
    padding: vw(20.5) vw(34);
    background: #E3E9F5;
    color: #B9C3D6;

    svg {
        margin-left: vw(15);
        fill: #B9C3D6;
    }
}

.leave-review {
    padding-top: vw(43);
    padding-bottom: vw(30);

    .back-button {
        display: none;
    }

    &__form {
        margin: vw(30) auto 0;
        width: vw(700);
    }
}

.review-success {
    margin-top: vw(20);
    font-family: $ff-acrom;
    color: #B3BDD2;
}

.review-card {
    @extend %card;
    position: relative;
    grid-area: info;
    padding: vw(23) vw(21);
    display: flex;
    align-items: center;
    gap: vw(23);

    &__avatar {
        flex-shrink: 0;
        margin-right: vw(10);
        @include round(vw(45));
    }

    &__info {
        display: flex;
        align-items: flex-start;
        font-family: $ff-acrom;
    }

    &__case {
        padding-left: vw(25);
        border-left: 1px solid rgba(226, 227, 243, 0.65);
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__name {
        @extend %text-16;
        font-weight: 700;
        margin-bottom: vw(10);
    }

    &__datetime {
        @extend %text-11;
        color: #B4BAD2;

        &:not(:last-child) {
            margin-bottom: vw(17);
        }
    }
}

.reviews-block {
    @include row-grid(vw(25));
    padding-top: vw(50);
    padding-bottom: vw(38);

    .review {
        grid-template-columns: vw(280) 1fr;
        grid-template-areas:
            'info content'
        ;
        gap: vw(38);
    }

    .review-card {
        &__info {
            align-items: center;
        }

        &__avatar {
            margin-right: vw(15);
            width: vw(80);
            height: vw(80);
        }

        &__name {
            margin-bottom: vw(6);
            font-size: vw(18);
            line-height: calc(22 / 18 * 100%);
        }

        &__info {
            @extend %text-11;
        }
    }
}

.rating {
    display: flex;
    gap: vw(5);

    &-star {
        width: vw(20);
        height: vw(20);
        fill: #DDE6F8;

        &.filled {
            fill: #FFBF53;
        }
    }
}

.review-content {
    @extend %card;
    @include row-grid(vw(12));
    align-items: center;
    grid-area: content;
    padding: vw(27) vw(30) vw(27) vw(37);
    font-family: $ff-acrom;

    &__text {
        color: #A2AEC8;
    }

    &__btns {
        padding-left: vw(45);
        display: flex;
        justify-content: space-between;

        svg {
            width: vw(15);
            height: vw(15);
            fill: #C5CFE4;
        }
    }

    >p {
        padding-left: vw(39);
        height: 100%;
        display: flex;
        align-items: center;
        font-size: vw(24);
        color: #A2AEC8;
    }
}

.review-answer {
    @extend %card;
    grid-area: answer;
    /* position: absolute;
    top: calc(100% + vw(24));
    left: vw(82);
    right: 0; */
    padding: vw(20) vw(25) vw(25) vw(16);
    font-family: $ff-acrom;
    display: grid;
    grid-template-columns: auto 1fr auto vw(20);
    grid-template-areas:
        'avatar name datetime remove'
        'avatar text text edit'
    ;
    gap: vw(4) vw(8);

    &__avatar {
        margin-right: vw(5);
        grid-area: avatar;
        @include round(vw(45));
    }

    &__name {
        @extend %text-12;
        grid-area: name;
        font-weight: 700;
    }

    &__text {
        @extend %text-10;
        color: #A2AEC8;
        grid-area: text;
        max-height: vw(24);
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__datetime {
        @extend %text-10;
        color: #C9D0DF;
        align-self: center;
    }

    &__action {
        svg {
            width: vw(12);
            height: vw(13);
            fill: #C5CFE4;
            transition: $transition fill;
        }

        @media (any-hover: hover) {
            &:hover {
                svg {
                    fill: var(--dark);
                }
            }
        }

        &--remove {
            grid-area: remove;
        }

        &--edit {
            grid-area: edit;
            align-self: flex-end;
        }
    }
}