.toolbar {
    display: none;

    @media(min-width: 1025px) {
        position: fixed;
        top: 0;
        left: vw($sidebar);
        width: vw($toolbar);
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--gray-e5);
        overflow-y: auto;
        z-index: 101;
        scrollbar-width: 0;

        &::before {
            content: '';
            position: fixed;
            bottom: 0;
            left: vw($sidebar);
            right: 0;
            z-index: 20;
            width: vw($toolbar);
            height: vw(154);
            background: linear-gradient(180deg, rgba(229, 234, 245, 0) 0%, #E5EAF5 100%);
        }
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
    }

    &__top {
        @media(min-width: 1025px) {
            padding: vw(10) vw(10) vw(12);
            display: grid;
            grid-template-columns: 1fr vw(4);
            gap: vw(2);
            align-items: center;
        }
    }

    &__items {
        @media(min-width: 1025px) {
            padding: vw(17) vw(12) 0 vw(9);
        }
    }
}

.toolbar-switchers {
    @media(min-width: 1025px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: var(--gray-ca);
    }
}

.toolbar-switcher {
    @media(min-width: 1025px) {
        display: grid;
        place-items: center;
        height: vw(45);

        svg {
            fill: var(--gray-7f);
            transition: $transition fill;
        }

        &.active {
            background: var(--purple-gradient);

            svg {
                fill: #fff;
            }
        }

        &:first-child {
            &.active {
                border-radius: 0 $brs-btn $brs-btn 0;
            }
        }

        &:last-child {
            &.active {
                border-radius: $brs-btn 0 0 $brs-btn;
            }
        }
    }
}

.toolbar-card {
    display: grid;
    grid-template-columns: vw(3) vw(21) vw(21) 1fr;
    grid-template-rows: vw(78) vw(9) vw(15) vw(15) vw(6);

    &__img {
        position: relative;
        z-index: 1;
        grid-row: 1 / 4;
        grid-column: 2 / -1;
        object-fit: contain;
        align-self: center;
    }

    &__avatar {
        position: relative;
        z-index: 3;
        grid-column: 1 / 4;
        grid-row: 2 / -1;
        @include round(vw(45));
        object-fit: cover;
    }

    &__name {
        position: relative;
        z-index: 2;
        grid-column: 3 / -1;
        grid-row: 3 / -2;
        padding-left: vw(25);
        padding-right: vw(11);
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: $brs-btn;
        box-shadow: $bsh-card;
        font-weight: 700;
        font-size: vw(12);
        line-height: calc(14 / 12 * 100%);
        color: var(--dark);

        span {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}