.top-three-users {
    @include grid(3, vw(35), vw(35));
    padding-top: vw(70);
    padding-bottom: vw(17);

    @media(max-width: 1024px) {
        gap: 3.5rem;
        padding-top: 7rem;
        padding-bottom: 3rem;
    }

    @media(max-width: 767px) {
        grid-template-columns: 1fr;
    }

    @media(min-width: 768px) {
        grid-template-areas: 'silverUser goldUser bronzeUser';
    }
}

.top-user {
    position: relative;
    padding: 0 vw(30) vw(35);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: $bsh-card;
    border-radius: $brs-3;
    font-family: $ff-acrom;

    &--gold {
        @media(min-width: 768px) {
            grid-area: goldUser;
        }
    }

    &--silver {
        @media(min-width: 768px) {
            grid-area: silverUser;
        }
    }

    &--bronze {
        @media(min-width: 768px) {
            grid-area: bronzeUser;
        }
    }

    @media(max-width: 1024px) {
        padding: 0 3rem 3.5rem;
    }

    &__avatar {
        position: relative;
        margin-top: vw(-30);
        margin-bottom: vw(32);
        @include round(vw(130));

        @media(max-width: 1024px) {
            margin-top: -3rem;
            margin-bottom: 3.2rem;
            width: 13rem;
            height: 13rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__place {
        @extend %text-12;
        position: absolute;
        bottom: vw(-16);
        left: 50%;
        transform: translateX(-50%);
        padding: vw(10.5) vw(12.5);
        border-radius: $brs-btn;
        color: #fff;
        font-weight: 700;
        white-space: nowrap;

        @media(max-width: 1024px) {
            bottom: -1.6rem;
            padding: 1.05rem 1.25rem;
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: vw(24);
            height: vw(24);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @media(max-width: 1024px) {
                width: 2.4rem;
                height: 2.4rem;
            }
        }

        &--gold {
            background: linear-gradient(90deg, #A5703B 0%, #E6BB86 54.17%, #A5703B 100%);
        }

        &--silver {
            background: linear-gradient(90deg, #A4A8CB 0%, #C6C9E7 53.97%, #A4A8CB 100%);
        }

        &--bronze {
            background: linear-gradient(90deg, #96595A 0%, #BA7172 52.6%, #96595A 99.99%, #CD7F32 100%);
        }
    }

    &__name {
        @extend %text-18;
        font-weight: 700;
        margin-bottom: vw(22);

        @media(max-width: 1024px) {
            margin-bottom: 2.2rem;
        }
    }

    &__stats {
        display: flex;
        gap: vw(10);

        @media(max-width: 1024px) {
            gap: 1rem;
        }
    }

    &__stats-item {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: vw(6);
        text-align: center;

        @media(max-width: 1024px) {
            gap: 0.6rem;
        }

        dt {
            @extend %text-12;
            color: #B4BAD2;
        }

        dd {
            @extend %text-16;
            font-weight: 700;
            letter-spacing: 0.05em;
        }
    }
}