.users-table-row {
    @extend %text-18;
    @include padding-y(vw(16));
    align-items: center;
    background-color: #fff;
    border-radius: $brs;
    box-shadow: $bsh-card;
    font-family: $ff-acrom;
    font-weight: 700;

    @media(max-width: 1024px) {
        display: flex;
        gap: 2rem;
        @include padding-y(1.6rem);
        white-space: nowrap;
    }

    @media(max-width: 767px) {
        font-size: 1.4rem;
    }

    @media(min-width: 1025px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.users-table {
    @extend %text-18;
    font-family: $ff-acrom;
    font-weight: 700;

    @media(max-width: 1024px) {
        overflow-x: auto;
    }

    &__head {
        @include padding-y(vw(30));
        color: #C3CFE8;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;

        @media(max-width: 1024px) {
            @include padding-y(3rem);
        }
    }

    &__body {
        @include row-grid(vw(19));
        color: #1D222C;

        @media(max-width: 1024px) {
            row-gap: 1.9rem;
        }
    }

    &__cell {
        @media(max-width: 1024px) {
            min-width: 20rem;
        }

        @media(max-width: 767px) {
            min-width: 15rem;
        }

        &:first-child {
            padding-left: vw(40);

            @media(max-width: 1024px) {
                padding-left: 2rem;
                min-width: 10rem;
            }

            @media(max-width: 767px) {
                min-width: 7rem;
            }
        }
    }
}