.action-button {
    $this: &;

    flex-shrink: 0;
    display: grid;
    place-items: center;
    @include round(vw(50));
    transition: $transition box-shadow;

    @media(max-width: 1024px) {
        width: 5rem;
        height: 5rem;
    }

    svg {
        fill: #fff;

        @media(max-width: 1024px) {
            width: 1.7rem;
            height: 1.7rem;
        }
    }

    @media (any-hover: hover) {
        &:hover {
            box-shadow: $bsh-card;
        }
    }

    &--style {
        &_bg {
            &-green {
                background: var(--green-gradient);
            }

            &-purple {
                background: var(--purple-gradient);
            }

            &-blue {
                background: var(--blue-gradient);
            }

            &-orange {
                background: linear-gradient(90deg, #F5C63B 0%, #ED502A 100%);
            }

            &-gray {
                background-color: #D4D8EF;
                box-shadow: $bsh-card;

                svg {
                    fill: #B5BBDB;
                }
            }
        }
    }

    &[aria-expanded="true"]~.dropdown-menu {
        @include show();
    }
}