.button {
    $this: &;

    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: vw(5);
    background: var(--green-gradient);
    color: #fff;
    border-radius: $brs-btn;
    font-family: $ff, sans-serif;
    font-size: vw($fz);
    line-height: calc(17 / #{$fz} * 100%);
    transition: $transition all;

    @media(max-width: 1024px) {
        font-size: 1.4rem;
    }

    @media(max-width: 500px) {
        font-size: 1.2rem;
    }

    @media (any-hover: hover) {
        &:hover {
            box-shadow: $bsh;
        }
    }

    svg {
        flex-shrink: 0;
        fill: #fff;
        transition: $transition fill;
    }

    &__arrow {
        width: vw(26);
        height: vw(16);

        @media(max-width: 1024px) {
            width: 2.6rem;
            height: 1.6rem;
        }
    }

    &__text {
        position: relative;
    }

    &--reversed {
        flex-direction: row-reverse;
    }

    /* @media (any-hover: hover) {
        &:hover {
            
        }
    } */

    &[disabled] {
        border: none;
        cursor: not-allowed;

        /* @media (any-hover: hover) {
            &:hover {
                
            }
        } */
    }

    &--disabled {
        background: transparent;

        @media (any-hover: hover) {
            &:hover {
                background: transparent;
            }
        }
    }

    &--border {
        background: transparent;
        border: 1px solid rgba(192, 194, 220, 0.35);
        color: var(--gray-a1);

        svg {
            fill: var(--gray-a1);
        }

        @media (any-hover: hover) {
            &:hover {
                background: transparent;
                color: var(--dark);

                svg {
                    fill: var(--dark);
                }
            }
        }
    }

    &--transparent {
        background: transparent;

        @media (any-hover: hover) {
            &:hover {
                background: transparent;
            }
        }
    }

    &--style {
        &_bg {
            &-purple {
                background: var(--purple-gradient);
            }

            &-red {
                background: var(--red-gradient);
            }

            &-gray {
                background-color: #EAEBF8;
                color: #292C33;

                svg {
                    fill: #292C33;
                }
            }

            &-gray-2 {
                background: rgba(226, 227, 243, 0.65);
                color: #B1B3CB;

                svg {
                    fill: #B1B3CB;
                }

                @media (any-hover: hover) {
                    &:hover {
                        svg {
                            fill: var(--dark);
                        }
                    }
                }
            }
        }

        &_link,
        &_link-2 {
            background: transparent;
            padding-bottom: vw(5);

            #{$this} {
                &__text {
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: vw(1);
                        transition: $transition background-color;
                    }
                }
            }

            @media (any-hover: hover) {
                &:hover {
                    color: var(--dark);

                    #{$this} {
                        &__text {
                            &::after {
                                background-color: var(--dark);
                            }
                        }
                    }

                    svg {
                        fill: var(--dark);
                    }
                }
            }
        }

        &_link {
            color: var(--gray-c5);

            #{$this} {
                &__text {
                    &::after {
                        background-color: rgba(226, 227, 243, 0.65);
                    }
                }
            }
        }

        &_link-2 {
            color: #ACB6CC;

            #{$this} {
                &__text {
                    &::after {
                        background-color: #ACB6CC;
                    }
                }
            }
        }

        &_link-3 {
            background: transparent;
            color: #C5CFE4;
        }
    }
}