.checkbox {
    $this: &;

    &__input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);
    }

    &__style {
        position: relative;
        flex-shrink: 0;
    }
}

.radiobutton {
    $this: &;

    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: vw(9.5);

    @media(max-width: 1024px) {
        padding: 0.95rem;
    }

    &__input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);

        &:checked~#{$this} {
            &__style {
                background: var(--purple-gradient);
                border: none;
            }

            &__text {
                color: #fff;
            }
        }
    }

    &__style {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #EAEBF8;
        border: 1px solid rgba(206, 208, 232, 0.25);
        box-shadow: $bsh-field;
        border-radius: $brs;

        span {
            display: inline-block;
            opacity: 0;
            width: 100%;
            height: 100%;
            background-size: vw(11) vw(8);
            background-position: center;
            background-repeat: no-repeat;
            transition: $transition opacity;

            @media(max-width: 1024px) {
                background-size: 1.1rem 0.8rem;
            }
        }
    }

    &__text {
        @extend %text-13;
        position: relative;
        z-index: 1;
        font-family: $ff-acrom;
        font-weight: 700;
        color: #292C33;
    }

    &--style {
        &_check {
            justify-content: flex-start;
            padding: 0;

            #{$this} {
                &__input {
                    &:checked~#{$this} {
                        &__text {
                            color: var(--dark-2);
                        }

                        &__style {
                            span {
                                opacity: 1;
                            }
                        }
                    }
                }

                &__style {
                    position: static;
                    flex-shrink: 0;
                    margin-right: vw(8);
                    @include round(vw(23));
                    background: transparent;
                    box-shadow: none;

                    @media(max-width: 1024px) {
                        margin-right: 0.8rem;
                        width: 2.3rem;
                        height: 2.3rem;
                    }
                }
            }
        }
    }
}