.search-field {
    @extend %text-16;
    display: flex;
    align-items: center;
    width: vw(250);
    height: vw(50);
    padding-left: vw(52);
    padding-right: vw(25);
    background-color: rgba(226, 227, 243, 0.65);
    border: 1px solid rgba(226, 227, 243, 0.65);
    border-radius: $brs-btn;
    font-family: $ff, sans-serif;
    font-weight: 500;
    background-position: vw(25) 50%;
    background-size: vw(16);
    background-repeat: no-repeat;

    @media(min-width: 768px) {
        justify-self: end;
    }

    @media(max-width: 1024px) {
        width: 25rem;
        height: 5rem;
        padding-left: 5.2rem;
        padding-right: 2.5rem;
        background-position-x: 2.5rem;
        background-size: 1.6rem;
    }

    @media(max-width: 500px) {
        width: 100%;
    }

    &::placeholder {
        color: #B8BACF;
    }

    &:focus {
        border-color: var(--dark);
    }
}

input[type='number'] {
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='number']:hover,
input[type='number']:focus {
    -moz-appearance: number-input;
}

.noUi {
    $this: &;

    &-target {
        border: none !important;
        background: #E1E6F4 !important;
    }

    &-connects {
        border-radius: $brs-btn !important;
    }

    &-connect {
        background: linear-gradient(90deg, #933AFF 0%, #70C9FF 100%) !important;
    }

    &-horizontal {
        height: vw(3) !important;

        @media(max-width: 1024px) {
            height: 0.3rem !important;
        }

        #{$this} {
            &-handle {
                top: vw(-10) !important;
                @include round(vw(25) !important);
                background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
                border: vw(4) solid #FFF;
                box-shadow: none !important;

                @media(max-width: 1024px) {
                    top: -1rem !important;
                    width: 2.5rem !important;
                    height: 2.5rem !important;
                    border-width: 0.4rem;
                }

                &:before,
                &:after {
                    display: none !important;
                }
            }
        }
    }
}

.range-slider {
    &__values {
        margin-top: vw(22.5);
        display: flex;
        justify-content: space-between;

        @media(max-width: 1024px) {
            margin-top: 2.25rem;
        }
    }

    &__value {
        display: flex;
        align-items: center;
        gap: vw(5);
        font-family: $ff-acrom;
        color: #CDCFE5;

        @media(max-width: 1024px) {
            gap: 0.5rem;
        }
    }

    &__value-input {
        @extend %text-14;
        width: vw(82);
        padding: vw(9);
        display: flex;
        justify-content: center;
        background-color: #EAEBF8;
        border: 1px solid rgba(206, 208, 232, 0.25);
        box-shadow: $bsh-field;
        border-radius: $brs !important;
        font-family: $ff-acrom;
        font-weight: 700;
        text-align: center;
        color: var(--dark-2);

        @media(max-width: 1024px) {
            width: 8.2rem;
            padding: 0.9rem;
        }
    }

    &--color {
        &_green {
            .noUi {
                &-connect {
                    background: var(--green-gradient) !important;
                }

                &-horizontal {
                    .noUi {
                        &-handle {
                            background: var(--green-gradient);
                        }
                    }
                }
            }
        }
    }
}

.field {
    $this: &;

    padding: vw(18.5) vw(24);
    background-color: rgba(226, 227, 243, 0.65);
    box-shadow: $bsh-card;
    border-radius: $brs;
    display: grid;
    grid-template-columns: 1fr vw(20);
    grid-template-rows: auto auto;
    gap: vw(5);
    align-items: center;
    background-position: 92% 50%;
    background-size: vw(20);
    background-repeat: no-repeat;

    @media(max-width: 1024px) {
        padding: 1.85rem 2.4rem;
        grid-template-columns: 1fr 2rem;
        gap: 0.5rem;
        background-size: 2rem;
    }

    &__label,
    &__input {
        grid-column: 1 / 2;
        font-family: $ff-acrom;
    }

    &__label {
        @extend %text-12;
        color: #ABB1D2;
        text-transform: uppercase;
    }

    &__input {
        @extend %text-16;
        font-weight: 700;
        color: var(--black);
        width: 100%;
        text-align: left;
    }

    &__edit {
        grid-row: 1 / -1;
        grid-column: 2 / 3;
    }

    button#{$this}__input {
        text-decoration: underline;
    }
}

.edit-btn {
    width: vw(20);
    height: vw(20);

    @media(max-width: 1024px) {
        width: 2rem;
        height: 2rem;
    }

    svg {
        width: vw(20);
        height: vw(20);
        fill: #BEC2DC;

        @media(max-width: 1024px) {
            width: 2rem;
            height: 2rem;
        }
    }
}