.search-field {
    display: flex;
    justify-self: end;
    align-items: center;
    width: vw(250);
    height: vw(50);
    padding-left: vw(52);
    padding-right: vw(25);
    background-color: rgba(226, 227, 243, 0.65);
    border: 1px solid rgba(226, 227, 243, 0.65);
    border-radius: $brs-btn;
    font-family: $ff, sans-serif;
    font-weight: 500;
    font-size: vw(16);
    line-height: calc(19 / 16 * 100%);
    background-position: vw(25) 50%;
    background-size: vw(16);
    background-repeat: no-repeat;

    &::placeholder {
        color: #B8BACF;
    }

    &:focus {
        border-color: var(--dark);
    }
}

input[type='number'] {
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='number']:hover,
input[type='number']:focus {
    -moz-appearance: number-input;
}

.noUi {
    $this: &;

    &-target {
        border: none !important;
        background: #E1E6F4 !important;
    }

    &-connects {
        border-radius: $brs-btn !important;
    }

    &-connect {
        background: linear-gradient(90deg, #933AFF 0%, #70C9FF 100%) !important;
    }

    &-horizontal {
        height: vw(3) !important;

        #{$this} {
            &-handle {
                top: -10px !important;
                @include round(vw(25) !important);
                background: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
                border: vw(4) solid #FFF;
                box-shadow: none !important;

                &:before,
                &:after {
                    display: none !important;
                }
            }
        }
    }
}

.range-slider {
    &__values {
        margin-top: vw(22.5);
        display: flex;
        justify-content: space-between;
    }

    &__value {
        display: flex;
        align-items: center;
        gap: vw(5);
        font-family: $ff-acrom;
        color: #CDCFE5;
    }

    &__value-input {
        width: vw(82);
        padding: vw(9);
        display: flex;
        justify-content: center;
        background-color: #EAEBF8;
        border: 1px solid rgba(206, 208, 232, 0.25);
        box-shadow: $bsh-field;
        border-radius: $brs !important;
        font-family: $ff-acrom;
        font-weight: 700;
        font-size: vw(14);
        line-height: calc(17 / 14 * 100%);
        text-align: center;
        color: #292C33;
    }

    &--color {
        &_green {
            .noUi {
                &-connect {
                    background: var(--green-gradient) !important;
                }

                &-horizontal {
                    .noUi {
                        &-handle {
                            background: var(--green-gradient);
                        }
                    }
                }
            }
        }
    }
}

.field {
    $this: &;

    padding: vw(18.5) vw(24);
    background-color: rgba(226, 227, 243, 0.65);
    box-shadow: $bsh-card;
    border-radius: $brs;
    display: grid;
    grid-template-columns: 1fr vw(20);
    grid-template-rows: auto auto;
    gap: vw(5);
    align-items: center;
    background-position: 92% 50%;
    background-size: vw(20);
    background-repeat: no-repeat;

    &__label,
    &__input {
        grid-column: 1 / 2;
        font-family: $ff-acrom;
    }

    &__label {
        @extend %text-12;
        color: #ABB1D2;
        text-transform: uppercase;
    }

    &__input {
        @extend %text-16;
        font-weight: 700;
        color: #000;
        text-align: left;
    }

    &__edit {
        grid-row: 1 / -1;
        grid-column: 2 / 3;
    }

    button#{$this}__input {
        text-decoration: underline;
    }
}

.edit-btn {
    width: vw(20);
    height: vw(20);

    svg {
        width: vw(20);
        height: vw(20);
        fill: #BEC2DC;
    }
}