.status {
    $this: &;

    display: flex;
    align-items: center;

    &__text {
        @include row-grid(vw(2));

        @media(max-width: 1024px) {
            row-gap: 0.2rem;
        }
    }

    &__value {
        font-weight: 700;
    }

    &__descr {
        @extend %text-12;
        font-weight: 500;
        color: var(--gray-b2);
    }
}