.tabs-wrap {
    padding-bottom: vw(32);
    display: flex;
    justify-content: center;

    @media(max-width: 1024px) {
        padding-bottom: 3.2rem;
    }
}

.tabs {
    @include padding-x(vw(18));
    display: flex;
    background-color: #fff;
    box-shadow: $bsh-card;
    border-radius: $brs;

    @media(max-width: 1024px) {
        @include padding-x(1.8rem);
    }

    &--style {
        &_2 {
            background-color: transparent;
            box-shadow: none;
            border-radius: 0;
        }
    }
}

.tab {
    @extend %text-16;
    position: relative;
    padding: vw(23) vw(18);
    font-weight: 700;
    color: var(--gray-cf);
    transition: $transition color;

    @media(max-width: 1024px) {
        padding: 2.3rem 1.8rem;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: vw(3);
        background: var(--purple-gradient);
        opacity: 0;
        transition: $transition opacity;

        @media(max-width: 1024px) {
            height: 0.3rem;
        }
    }

    @media (any-hover: hover) {
        &:hover {
            color: var(--dark-4);
        }
    }

    &[aria-selected="true"] {
        color: var(--dark-4);

        &::after {
            opacity: 1;
        }

        @media (any-hover: hover) {
            &:hover {
                color: var(--dark-4);
            }
        }
    }
}

.tabs-content {
    display: none;

    &.active {
        display: block;
    }
}