.title {
    position: relative;
    padding-bottom: vw(18);
    display: flex;
    font-family: $ff-acrom, sans-serif;
    font-weight: 700;
    font-size: vw(24);
    line-height: calc(29 / 24 * 100%);
    background-position: center vw(-14);
    background-size: vw(157) vw(85);
    background-repeat: no-repeat;

    @media(min-width: 768px) {
        grid-column: 2 / 3;
        justify-content: center;
        text-align: center;
    }

    @media(max-width: 1024px) {
        font-size: 2.4rem;
        background-size: 15.7rem 8.5rem;
        padding-bottom: 1.5rem;
        background-position-x: 0;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: vw(35);
        height: vw(4);
        background: var(--purple-gradient);
        border-radius: $brs-btn;

        @media(max-width: 1024px) {
            width: 3.5rem;
            height: 0.4rem;
        }

        @media(max-width: 767px) {
            left: 0;
            transform: none;
        }
    }

    &--line {
        &_green {
            &::after {
                background: var(--green-gradient);
            }
        }
    }

    &--small {
        font-family: $ff, sans-serif;
        font-size: vw(18);
        line-height: calc(23 / 18 * 100%);

        @media(max-width: 1024px) {
            font-size: 1.8rem;
        }

        &::after {
            left: 0;
            transform: none;
            height: vw(3);

            @media(max-width: 1024px) {
                height: 0.3rem;
            }
        }
    }
}