.user {
    $this: &;

    display: flex;
    align-items: center;

    &__avatar {
        flex-shrink: 0;
        margin-right: vw(11);
        @include round(vw(59));
        box-shadow: $bsh-card;

        @media(max-width: 1024px) {
            margin-right: 1.1rem;
            width: 5.9rem;
            height: 5.9rem;
        }
    }

    &__name {
        @extend %text-16;
        font-family: $ff;
        font-weight: 700;
    }

    &--size {
        &_xs {
            #{$this} {
                &__avatar {
                    margin-right: vw(15);
                    width: vw(45);
                    height: vw(45);

                    @media(max-width: 1024px) {
                        margin-right: 1.1rem;
                        width: 4.5rem;
                        height: 4.5rem;
                    }
                }

                &__name {
                    @extend %text-14;

                    @media(max-width: 500px) {
                        font-size: 1.2rem;
                        line-height: 1.4rem;
                    }
                }
            }
        }
    }
}