@mixin scrollbar {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0.5rem;
        border-radius: 0.4rem;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--gray-c0);
        border-radius: 0.4rem;
    }
}

@mixin row-grid($gap) {
    display: grid;
    row-gap: $gap;
}

@mixin padding-x($gap) {
    padding: 0 $gap;
}

@mixin padding-y($gap) {
    padding: $gap 0;
}

@mixin margin-x($gap) {
    margin: 0 $gap;
}

@mixin margin-y($gap) {
    margin: $gap 0;
}

@function vw($px) {
    @return $px * 100vw / 1920;
}
