:root {
    --content-padding-left: 37;
    --content-padding-right: 63;

    --black: #000;
    --dark: #1D222C;
    --dark-2: #292C33;
    --dark-3: #0C0C0C;
    --dark-4: #0B0C10;
    --gray-be: #BEC1DB;
    --gray-7f: #7F8CA5;
    --gray-e5: #E5EAF5;
    --gray-89: #8995AF;
    --gray-a8: #A8B4CD;
    --gray-ea: #EAEBF8;
    --gray-da: #DADBED;
    --gray-f3: #F3F7FF;
    --gray-c5: #C5CFE4;
    --gray-a2: #A2AEC8;
    --gray-c9: #C9D0DF;
    --gray-ac: #ACB6CC;
    --gray-e3: #E3E9F5;
    --gray-ba: #BAC9E6;
    --gray-b9: #B9C3D6;
    --gray-b2: #B2B9D1;
    --gray-a1: #A1AEC8;
    --gray-8a: #8A98B3;
    --gray-a6: #A6B1C7;
    --gray-c8: #C8D5ED;
    --gray-cd: #CDD6E6;
    --gray-ca: #CAD2E4;
    --gray-cf: #CFD2EA;
    --gray-e8: #E8EAF7;
    --gray-c5: #C5CFE4;
    --gray-af: #AFB8CC;
    --gray-8f: #8F96A4;
    --gray-a4: #A4B0C7;

    --light-blue: #EBEFFE;

    --purple-gradient: linear-gradient(36.87deg, #B139FE 18.57%, #1E61EB 80.26%);
    --green: #8CD23C;
    --green-2: #7AB23A;
    --green-gradient: linear-gradient(90deg, var(--green) 0%, #417A00 100%);
    --red: #FF5343;
    --red-gradient: linear-gradient(222.47deg, #FF8176 14%, var(--red) 80.18%);
    --orange-gradient: linear-gradient(43.39deg, #F9B544 26.46%, #FFD77F 80%);
    --blue-gradient: linear-gradient(90deg, #647AE8 0%, #54A3F5 104.25%);
}

$sidebar: 424;
$toolbar: 125;

$ff: 'TT Norms';
$ff-acrom: 'Acrom';
$fz: 14;
$default-color: var(--black);

$brs: 4px;
$brs-2: 6px;
$brs-card: 8px;
$brs-3: 12px;
$brs-4: 16px;
$brs-btn: 100px;

$bsh: 0 0 65px rgba(220, 225, 246, 0.85);
$bsh-2: 0 4px 4px rgba(0, 0, 0, 0.25);
$bsh-field: 0 4px 35px rgba(142, 145, 176, 0.15);
$bsh-card: 0 25px 35px rgba(226, 227, 243, 0.65);


$transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 0.3s;
$duration--long: 1s;
$delay: $duration;
$transition: $duration $transition-timing;

%card {
    background-color: #fff;
    border-radius: $brs-card;
    box-shadow: $bsh-card;
}

%cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

%text-10 {
    font-size: vw(10);
    line-height: calc(12 / 10 * 100%);

    @media(max-width: 1024px) {
        font-size: 1rem;
    }
}

%text-11 {
    font-size: vw(11);
    line-height: calc(13 / 11 * 100%);

    @media(max-width: 1024px) {
        font-size: 1.1rem;
    }
}

%text-12 {
    font-size: vw(12);
    line-height: calc(14 / 12 * 100%);

    @media(max-width: 1024px) {
        font-size: 1.2rem;
    }
}

%text-13 {
    font-size: vw(13);
    line-height: calc(17 / 13 * 100%);

    @media(max-width: 1024px) {
        font-size: 1.3rem;
    }
}

%text-16 {
    font-size: vw(16);
    line-height: calc(19 / 16 * 100%);

    @media(max-width: 1024px) {
        font-size: 1.6rem;
    }
}

%text-18 {
    font-size: vw(18);
    line-height: calc(21 / 18 * 100%);

    @media(max-width: 1024px) {
        font-size: 1.8rem;
    }
}